###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
/.env.dev.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> IDE & system files ###
# VS Code
.vscode/

# PHPStorm / IntelliJ
.idea/

# Windows / MacOS files
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

# Logs & cache
*.log
/logs/
###< IDE & system files ###

.env
.env.local
.env.dev.local
.env.prod.local
